@font-face {
    font-family: 'Druk';
    src: url('Druk-Medium.eot');
    src: url('Druk-Medium.eot?#iefix') format('embedded-opentype'),
        url('Druk-Medium.woff2') format('woff2'),
        url('Druk-Medium.woff') format('woff'),
        url('Druk-Medium.ttf') format('truetype'),
        url('Druk-Medium.svg#Druk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

